/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Styling */
html, body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

body {
  height: 120%;
}

.navtext {
  color: #333;
  font-size: 16px;
  text-decoration: none;
  padding-top: 20px;
}

h1, h2, h3 {
  padding-bottom: 10px;
}

.text-primary {
  color: #f7c08a;
}

.text-light {
  color: #f4f4f4;
}

.btn-light {
  background: #f4f4f4;
  color: #333;
}

#navbar {
  background: #444;
  color: #fff;
  overflow: hidden;
  position: relative;
  padding: 0;
  align-items: center;
  height: 55px;
}

#navbar a {
  color: #fff;
}

#navbar h1 {
  font-size: 18px;
  float: left;
  padding-top: 20px;
}

#navbar h1 a {
  text-decoration: none;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
  text-decoration: none;
}

#navbar ul li a:hover,
#navbar ul li a.current {
  background: #444;
  color: #f7c08a;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 15px;
}

.hamburger-menu .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #fff;
  transition: all 0.3s ease;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

.content {
  width: 100%;
}

.full-width-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.bg-light {
  background: #f4f4f4;
}

.bg-primary {
  background: #d7bf8f;
  color: #444;
}

#main-footer {
  text-align: center;
  background: #444;
  color: #fff;
  padding: 10px;
}

#main-footer p {
  margin-top: 10px;
}

.py-1 {
  padding: 10px;
}

.py-2 {
  padding: 20px;
}

.py-3 {
  padding: 30px;
}

#about-info .info-right {
  float: right;
  width: 50%;
  min-height: 100%;
}

#about-info .info-right img {
  display: block;
  margin: auto;
  width: 70%;
  border-radius: 50%;
}

#about-info .info-right-index {
  float: right;
  width: 50%;
  min-height: 100%;
}

#about-info .info-right-index img {
  display: block;
  margin: auto;
  width: 100%;
}

#about-info .info-left {
  float: left;
  width: 50%;
  padding: 20px;
}

.clr {
  clear: both;
}

.l-heading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  padding: 5px;
}

.custom-room {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: #d7bf8f;
  color: #333;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 8px;
  margin: 0;
}

.custom-room a {
  text-decoration: none;
  color: #333;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

iframe{
  margin-left: 5px;
}

.phone {
  height: 50px;
  margin-bottom: 70px;
}

.mail {
  height: 50px;
  margin-bottom: 15px;
}

.contact-font {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-decoration: underline;
}

.contact-info {
  padding: 15px;
  background-color: #d7bf8f;
  border-radius: 4px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-info .place {
  margin: 5px 0;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 500px;
}

.contact-info .place span {
  flex: 1;
  text-align: center;
}


@media (max-width: 768px) {
  #navbar {
    height: 70px;
    overflow: hidden;
  }

  #navbar ul {
    display: none;
    flex-direction: column;
    text-align: center;
    width: 100%;
    background: #333;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
  }

  #navbar ul.active {
    display: flex;
  }

  #navbar h1 {
    float: left;
    text-align: left;
    font-size: 22px;
    padding-top: 20px;
  }

  .hamburger-menu {
    display: block;
    float: right;
  }

  #navbar ul li {
    float: none;
    width: 100%;
  }

  #navbar ul li a {
    padding: 15px;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
  }

  .l-heading {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-info {
    width: 100%;
    margin-left: 0;
  }

  .contact-info .place {
    justify-content: space-between; /* İçeriklerin arasını açar */
  }

  .contact-info .place span {
    text-align: center;
    width: 100%;
  }
}
